@charset "utf-8";
/* CSS Document */

.btn{
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 4px;
	font-family: source-semi;
}
.btn-small{
	padding: 12px 40px;
}
.btn-large{
	padding: 15px 60px;
	font-size: 14px;
}
.btn-primary{
	background-color: #ea950f;
	border: 1px solid transparent;
}
.btn-primary:hover{
	background-color: #e19110 !important;
	border: 1px solid transparent;
}
.btn-sec{
	background-color: #177556;
	border: 1px solid transparent;
}
.btn-default{
	background-color: transparent;
	border: 1px solid #bde6cf;
}
.btn-default:hover{
	background-color: transparent;
	border: 1px solid #6bd198;
}
.btn-neutral{
	background-color: white;
}
.btn-green{
	color: white;
	background-color: #259d6f;
}
.btn-reset{
	background-color: #ef3b3b;
	color: white;
}
.btn-reset:hover{
	background-color: #d92b2b;
	color: white;
}
button{
	border: none;
}
input{
	margin-bottom: 30px;
}
.form-control {
    height: 56px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    border-color: #5dbe5f;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}