@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: source-light;
	src: url(../font/SourceSansPro-Light.otf);
}
@font-face{
	font-family: source-regular;
	src: url(../font/SourceSansPro-Regular.otf);
}
@font-face{
	font-family: source-semi;
	src: url(../font/SourceSansPro-Semibold.otf);
}