@charset "utf-8";
/* CSS Document */

.fixed-btn{
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	padding-top: 15px;
}
.absolute-btn{
	position: absolute;
}
#hero-sect{
	background: url(../img/hero-banner.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	z-index: 5;
	height: 700px;
}
.hero-txt-parent{
	height: 700px;
	position: relative;
}
.hero-txt{
	width: 50%;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.hero-txt-lg{
	font-size: 50px;
	line-height: 56px;
	font-family: source-light;
}
.hero-txt-parent .lead{
	margin: 45px 0;
}
.make-claim-wrap{
	position: relative;
}
.claim-title{
	padding: 90px 50px 50px;
}
.claim-btn{
	list-style: none;
	display: inline-block;
	padding-left: 0;
}
.claim-btn li{
	float: left;
}
.claim-btn li:first-child a{
	margin-right: 10px;
}
.claim-btn li a{
	color: white;
}
.abt-claim-img{
	background: url(../img/easyclaim-img.jpg) no-repeat center center;
	background-size: cover;
	height: 700px;
}
.abt-claim-txt-parent{
	/*position: relative;*/
	height: 700px;
	display: table;
}
.abt-claim-txt{
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
	display: table-cell;
	vertical-align: middle;
}
.abt-exp{
	margin-top: 60px;
}
.timer{
	background: url(../img/icon-one.png) no-repeat left top;
	padding-top: 90px;
}
.chair{
	background: url(../img/icon-two.png) no-repeat left top;
	padding-top: 90px;
}
#testimonial .media-heading{
	font-family: source-regular;
}
#testimonial .media-body{
	padding-top: 4px;
}
#testimonial .testimonial-msg-wrap{
	padding-top: 50px;
}
#testimonial .testimonial-msg{
	padding-top: 15px;
}
#testimonial .card{
	margin-bottom: 30px;
}

#easy-claim-steps {
    padding-bottom: 260px;
}
#easy-claim-steps .nav-tabs {
    border-bottom: none;
}
#easy-claim-steps .nav-tabs>li {
    float: none;
	margin-bottom: 90px;
}
#easy-claim-steps .nav-tabs>li:last-child {
	margin-bottom: 0px;
}
#easy-claim-steps .easy-txt-wrap{
	position: relative;
}
#easy-claim-steps .easy-txt-wrap .easy-body{
	position: absolute;
	opacity: 0.4;
}
#easy-claim-steps .easy-txt-wrap .easy-body.two{
	top: 140px;
}
#easy-claim-steps .easy-txt-wrap .easy-body.three{
	top: 280px;
}
#easy-claim-steps .tab-content>.tab-pane {
    display: block;
}
#easy-claim-steps .tab-content>.tab-pane.active .easy-body {
	opacity: 1;
}
#easy-claim-steps .tab-content>.tab-pane .easy-img{
	padding-left: 100px;
	position: absolute;
	margin-top: -230px;
	padding-top: 130px;
	display: none;
}
#easy-claim-steps .tab-content>.tab-pane .easy-img.two{
	margin-top: -251px;
}
#easy-claim-steps .tab-content>.tab-pane .easy-img.three{
	margin-top: -272px;
}
#easy-claim-steps .tab-content>.tab-pane.active .easy-img{
	display: block;
}
#easy-claim-steps .nav-tabs>li.active>a{
    color: #555;
    background-color: #fff;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}
#easy-claim-steps .nav-tabs>li>a {
	color: rgba(0,0,0,0.3);
}
#easy-claim-steps .nav-tabs>li>a>span.step-num {
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
#easy-claim-steps .nav-tabs>li.active>a>span.step-num {
	color: white;
	border: 1px solid #259d6f;
	background-color: #259d6f;
}
#easy-claim-steps .nav-tabs>li>a>span.step-txt {
	padding-left: 30px;
}
#easy-claim-steps .nav-tabs>li.active>a:hover {
	border: none;
}
#easy-claim-steps .nav-tabs>li>a:hover {
	background-color: transparent;
	border: 1px solid transparent;
}
/*#easy-claim-steps .nav>li>a {
    padding: 15px 0;
}*/
.easy-txt-header{
	font-size: 24px;
	display: block;
	margin-bottom: 10px;
}

.easy-txt-wrap{
	margin-top: 20px;
}

/*** BEGIN PARTNER ***/
.partners-wrap{
	margin-top: 40px;
}
.partners-wrap img{
	display: inline-block;
	margin-top: 40px;
}
/*** END PARTNER ***/

/*** BEGIN CONTACT US ***/
.contact-wrap{
	margin-top: 30px;
}
.contact-wrap input{
	margin-bottom: 30px;
}
.form-control {
    height: 56px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    border-color: #5dbe5f;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*** END CONTACT US ***/

.claim-btn-wrap{
	padding-top: 15px;
	background-color: #f5f5f5;
	display: none;
}
.claim-btn .btn-small{
	padding: 10px 30px;
}

@media(max-width:1103px){
	.easy-txt-header {
		font-size: 22px;
	}
	.easy-txt-body{
		font-size: 14px;
	}
}
@media(max-width:900px){
	.easy-body{
		padding-left: 15px;
	}
	.hero-txt {
		width: 60%;
	}
	#easy-claim-steps .nav-tabs li {
		float: left;
	}
	.easy-step-hide {
		display: none;
	}
}
@media(max-width:776px){
	.hero-txt {
		width: 70%;
	}
}
@media(max-width:767px){
	.claim-btn-wrap {
		display: block;
	}
	#easy-claim-steps{
		text-align: center;
		padding-bottom: 90px;
	}
	#easy-claim-steps ul{
		display: inline-block;
	}
	#easy-claim-steps .nav-tabs>li {
		margin-bottom: 0px;
	}
	#easy-claim-steps .tab-content>.tab-pane .easy-img {
		padding-left: 0px;
		position: static;
		margin-top: 0;
		padding: 0px 120px;
	}
	#easy-claim-steps .tab-content>.tab-pane .easy-img.two {
		margin-top: 0px;
	}
	#easy-claim-steps .tab-content>.tab-pane .easy-img.three {
		margin-top: 0px;
	}
	#easy-claim-steps .tab-content>.tab-pane {
		display: none;
	}
	#easy-claim-steps .tab-content>.tab-pane.active {
		display: block;
	}
	#easy-claim-steps .easy-txt-wrap .easy-body {
		position: static;
		padding: 10px 0 40px 0;
	}
	.easy-txt-header {
		font-size: 24px;
	}
	.easy-txt-body{
		font-size: 16px;
	}
}
@media(max-width:582px){
	.hero-txt {
		width: 80%;
	}
	.abt-exp .col-xs-6{
		width: 100%;
	}
	.abt-exp .chair{
		margin-top: 40px;
	}
}
@media(max-width:510px){
	.testimonial-msg-wrap .col-xs-6 {
		width: 100%;
	}
	#easy-claim-steps .tab-content>.tab-pane .easy-img {
		padding: 0px 60px;
	}
	.hero-txt-lg {
		font-size: 40px;
		line-height: 46px;
	}
	.hero-txt-parent .lead {
		margin: 40px 0;
		font-size: 20px;
	}
}
@media(max-width:480px){
	.claim-btn-wrap .col-xs-9 {
		width: 100%;
		text-align: center;
	}
	.get-started{
		display: none;
	}
}
@media(max-width:400px){
	.hero-txt {
		width: 100%;
	}
}