@charset "utf-8";
/* CSS Document */

@import 'fonts.css';

body{
	font-family: source-light;
	font-size: 16px;
}
.font-light{
	font-family: source-light;
}
.lead{
	font-size: 22px;
}
.deflate{
	padding: 0;
	margin: 0;
}
.font-green{
	color: #177556;
}
.font-green2{
	color: #18c85d;
}
.font-white{
	color: #fff;
}
.font-grey{
	color: #a9a9a9;
}
.font-sec{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: source-regular;
	color: #777;
	font-size: 15px;
}
.section-pad{
	padding-top: 90px;
	padding-bottom: 90px;
}
.section-title{
	font-size: 48px;
	line-height: 55px;
}
.section-title-sec{
	font-size: 40px;
	line-height: 44px;
}
.bg-grey{
	background-color: #f5f5f5;
}
.bg-green{
	background-color: #259d6f;
}
.title-nxt-para{
	padding-bottom: 30px;
}
.title-nxt-lead{
	padding-bottom: 15px;
}
.container-fluid{
	padding-left: 250px;
	padding-right: 250px;
}
.card{
	background-color: #fff;
	padding: 30px;
	border-radius: 4px;
}
.card p{
	margin-bottom: 0;
}
.hide-elem{
	display: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
}
.burger{
	height: 30px;
	margin-right: 5px;
}
.header-bg-first{
	background-color: transparent;
	padding: 30px 0;
	transition: all 0.5s ease-in-out;
}
.header-bg-second{
	background-color: #ffffff;
	padding: 15px 0 5px;
	transition: all 0.5s ease-in-out;
}
.icon-close{
	background: url(../img/icon-close.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 33px;
	top: 38px;
	z-index: 10;
}
#nav-sect{
	position: relative;
	z-index: 10;
}
.navigation-parent{
	position: relative;
}
.navigation{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    margin-left: -15px !important;
}
#nav-sect .navbar-default{
	/*background-color: transparent;*/
	border: none;
	border-radius: 0;
	width: 100%;
	margin-bottom: 0;
	/*padding: 30px 0;*/
}

.nav-fix{
	position: fixed;
}

.nav-non-fix{
	position: absolute;
	top: 630px;
}

.claim-fix{
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
}

.mob-pad{
	padding-top: 159px;
}


.header-bg-first{
	background-color: transparent;
	padding: 30px 0;
	transition: all 0.5s ease-in-out;
}
.header-bg-second{
	background-color: #ffffff;
	padding: 15px 0 5px;
	transition: all 0.5s ease-in-out;
}
#nav-sect .navbar-brand{
	padding: 8px 15px;
}
#nav-sect .nav>li>a {
    padding: 8px 20px;
	margin: 0 20px;
	color: white;
}
#nav-sect .navbar-right>li>a {
	margin: 0 5px;
}
#nav-sect .navbar-right>li>a:last-child {
	margin-right: 0;
}

::-webkit-input-placeholder {
	color: #ce9e4d;
	transition: color 0.3s ease-in-out;
}
::-moz-placeholder {
	color: #ce9e4d;
	transition: color 0.3s ease-in-out;
}
:-ms-input-placeholder {
	color: #ce9e4d;
	transition: color 0.3s ease-in-out;
}
:-moz-placeholder {
	color: #ce9e4d;
	transition: color 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

/*** FOOTER BEGIN ***/
#footer{
	background-color: #259d6f;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	font-size: 14px;
}
#footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer ul li{
	float: left;
	padding: 0 10px;
}
#footer ul li:first-child{
	padding-left: 0;
}
#footer ul li a{
	color: white;
}
/*** FOOTER END ***/


/**INNER PAGES**/

#ec-steps{
	background-color: #f5f5f5;
}
.step-nav-fix{
	position: fixed;
	padding: 20px 0 12px;
	background-color: #259d6f;
}
#claim-steps{
	padding-top: 85px;
}
.step-wrap{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
	margin-top: 40px;
	color: #777777;
}
.step-wrap .nav-tabs{
	border-bottom: none;
	display: inline-block;
	margin-top: 20px;
}
.step-wrap ul.nav-tabs:after{
	position: absolute;
	height: 3px;
	background-color: #b7b7b7;
	width: 100%;
	left: 0;
	margin-top: 15px;
	z-index: 1;
}
.step-wrap .nav-tabs>li {
	z-index: 3;
	text-align: center;
}
.step-wrap ul.nav-tabs>li.active span{
	font-family: source-regular;
}
.step-wrap ul.nav-tabs>li span{
	display: inline-block;
	margin-top: 10px;
}
.step-wrap ul.nav-tabs>li span.first{
	margin-left: -45px;
}
.step-wrap ul.nav-tabs>li span.last{
	margin-right: -45px;
}
.step-wrap .nav-tabs>li>a {
    margin-right: 2px;
    border: none;
	background-color: #b7b7b7;
	color: white;
	font-family: source-semi;
	margin-right: 40px;
	margin-left: 40px;
}
.step-wrap .nav-tabs>li:first-child>a {
	margin-left: 0;
}
.step-wrap .nav-tabs>li:last-child>a {
	margin-right: 0;
}
.step-wrap .nav>li>a {
	height: 30px;
	width: 30px;
    border-radius: 30px;
	padding: 0;
	line-height: 30px;
}
.step-wrap .nav-tabs>li.active>a{
	border: none;
	background-color: #23956b;
	color: white;
}
.step-wrap .nav-tabs>li.visited>a{
	background-color: #63c012;
}
#ec-steps #footer{
	background-color: transparent;
	color: #898989;
}
#ec-steps #footer a{
	color: #898989;
}
ul.nav-tabs{
	position: relative;
	z-index: 3;
}
.section-head{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: source-regular;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.step-wrap .step-info{
	margin-top: 60px;
}
.step-title{
	display: none;
}
.no-witness{
	font-family: source-regular;
	margin-bottom: 30px;
	color: #b7b7b7;
}
.no-witness a{
	color: #23956b;
}



.img-upload-wrap{
	padding: 5px;
}
.img-upload-wrap li{
	float: left;
	width: 80px;
	height: 80px;
	list-style: none;
	margin: 5px;
	background-color: aqua;
}
input[type="file" i] {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
input[type="file" i]:focus {
	outline: none;
}
.img-upload-label{
	background: url(../img/img-upload-icon.png) no-repeat;
	height: 80px;
	width: 80px;
	display: inline-block;
	cursor: pointer;
}
.event-wrap{
	position: relative;
}
.event-wrap .event{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}
.event-wrap .icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	height: 32px;
	width: 32px;
	cursor: pointer;
}
.time-icon{
	background: url(../img/time-icon.png) no-repeat;
}
.date-icon{
	background: url(../img/date-icon.png) no-repeat;
}

.edit-info{
	position: relative;
}
.edit-info:after{
	position: absolute;
	right: 0;
	content: "edit";
	text-transform: capitalize;
	background: url(../img/edit-icon.png) no-repeat;
	height: 17px;
	padding-left: 23px;
	cursor: pointer;
}
.form-horizontal .control-label {
    padding-top: 0px;
}
#insurance-info label{
	font-family: source-regular;
}
#evidence-info{
	margin-right: -5px;
	margin-left: -5px;
}
#evidence-info .col-xs-3{
	padding-right: 5px;
	padding-left: 5px;
}
.finale-wrap{
	padding-top: 40px;
	padding-bottom: 40px;
}
.icon-done{
	background: url(../img/icon-done.png) no-repeat;
	height: 115px;
	width: 120px;
	display: inline-block;
	margin-bottom: 20px;
}

/**INNER PAGES END**/


@media(max-width:1440px){
	.container-fluid{
		padding-left: 150px;
		padding-right: 150px;
	}
	#nav-sect .nav>li>a {
		padding: 8px 15px;
		margin: 0 15px;
	}
}
@media(max-width:1300px){
	.container-fluid{
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media(max-width:1024px){
	#nav-sect .nav>li>a {
		padding: 8px 12px;
		margin: 0 12px;
	}
}
@media(max-width:991px){
	#ec-steps{
		background-color: #fff;
	}
}
@media(max-width:900px){
	.container-fluid{
		padding-left: 50px;
		padding-right: 50px;
	}
	#nav-sect .nav>li>a {
		padding: 8px 12px;
		margin: 0 12px;
	}
	.hero-txt {
		width: 60%;
	}
}
@media(max-width:776px){
	.hero-txt {
		width: 70%;
	}
}
@media(max-width:767px){
	.navigation-parent{
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		left: 0;
		text-align: center;
		background-color: #177556;
	}
	.container-fluid>.navbar-collapse {
		margin-right: 0px;
		margin-left: 0px;
	}
	.navigation {
		top: 50%;
		transform: translate(-50%,-50%);
		margin-left: 0 !important;
		width: 100%;
		padding: 0 15px;
	}
	#nav-sect .nav>li>a {
		padding: 0;
		margin: 70px 0px;
		color: white !important;
		font-size: 50px;
		line-height: 55px;
	}
}
@media(max-width:711px){
	#footer .col-xs-6{
		width: 100%;
		text-align: center;
	}
	#footer ul{
		display: inline-block;
		margin-bottom: 10px;
	}
}
@media(max-width:594px){
	.abt-claim-txt {
		padding-top: 30px;
	}
	.section-title {
		font-size: 40px;
		line-height: 45px;
	}
}
@media(max-width:570px){
	.step-wrap .nav-tabs>li>a {
		margin-right: 30px;
		margin-left: 30px;
	}
}
@media(max-width:550px){
	.container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(max-width:500px){
	.step-wrap ul.nav-tabs>li span{
		display: none;
	}
	.step-title{
		display: block;
		margin-bottom: 40px;
		font-size: 26px;
		text-align: center;
	}
	.step-wrap .nav-tabs>li>a {
		margin-right: 20px;
		margin-left: 20px;
	}
	#footer ul li {
		padding: 0 5px;
	}
}
@media(max-width:400px){
	.step-wrap .nav-tabs>li>a {
		margin-right: 15px;
		margin-left: 15px;
	}
}