@charset "utf-8";
/* CSS Document */

.grad-bg {
    height: 100vh;
    background: #0f8f92 no-repeat center center fixed;   
    /*background: -webkit-linear-gradient(left bottom, #0f8f92, #40ac46);
    background: -o-linear-gradient(top right, #0f8f92, #40ac46);
    background: -moz-linear-gradient(top right, #0f8f92, #40ac46);
    background: linear-gradient(to top right, #0f8f92, #40ac46);*/
	background: linear-gradient(60deg, #0f8f92 45%, #40ac46);
	background-size: cover;
	position: relative;
}
.content-wrap{
	height: 100vh;
	position: relative;
}
.login-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.logo{
	width: 180px;
	display: inline-block;
}
form{
	background-color: rgba(0,0,0,0.15);
	padding: 50px 40px;
	/*border: 1px solid #2d9e8e;*/
	margin: 40px 0;
}
.form-group {
    margin-bottom: 0px;
}
.col-sm{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
button{
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	color: white !important;
	letter-spacing: 1px;
	background-color: #ea950f !important;
	border: none !important;
	font-size: 15px !important;
	font-family: source-semi;
	border-radius: 3px !important;
}
input{
	height: 50px !important;
	border-radius: 3px !important;
}
.form-control {
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
a.back-home{
	letter-spacing: 1.5px;
	font-family: source-regular;
	color: white;
	font-size: 15px;
}
#footer{
	background-color: transparent;
	position: absolute;
	width: 100%;
	bottom: 0;
}


/*** Support Center ***/

.support-logo{
	position: fixed;
	width: 100%;
	padding-top: 30px;
}
.support-wrap{
	background-color: rgba(0,0,0,0.15);
	padding: 50px 80px;
	/*border: 1px solid #2d9e8e;*/
	margin: 40px 0;
	color: white;
	text-align: left;
	position: relative;
}
.support-wrap::after{
	content: '';
	background: url(../img/Lock.svg) no-repeat;
    height: 300px;
    width: 300px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	opacity: 0.1;
}
.support-info{
	padding-right: 80px;
}
.support-info p{
	opacity: 0.6;
	margin-top: 15px;
}
.support-wrap .form-control{
	background-color: #bde6cf;
	margin-bottom: 15px;
}
.support-wrap-footer{
	margin-top: 60px;
}
.support-wrap-footer a{
	color: white;
	border-bottom: 1px solid #fff;
}
.support-wrap-footer a:hover{
	text-decoration: none;
	border-bottom: none;
}
.open-ticket{
	text-align: right;
}

@media(max-width: 1154px){
	.support-info{
		padding-right: 30px;
	}
}
@media(max-width: 1054px){
	.support-info{
		padding-right: 10px;
	}
	.support-wrap{
		padding: 40px 60px;
	}
}
@media(max-width: 992px){
	.support-info{
		padding-right: 0;
	}
	.support-wrap{
		padding: 30px 40px;
	}
}
@media all and (max-width: 1150px) and (min-width:992px){
	#login .container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width: 767px){
	input{
		margin-bottom: 15px;
	}
	.open-ticket{
		text-align: left;
		margin-top: 15px;
	}
	.support-wrap-footer{
		margin-top: 40px;
	}
	.form-field{
		margin-top: 20px;
	}
}
@media (max-width: 551px){
	.support-wrap{
		padding: 30px;
	}
}
@media (max-width: 386px){
	.support-wrap{
		padding: 30px 15px;
	}
}