@charset "utf-8";
/* CSS Document */

.navigation{
	right: 0 !important;
	left: auto;
    transform: none;
	margin-top: 10px;
}
.navigation li:first-child{
	border-right: 1px solid #fff;
}
.panel{
	margin-top: 20px;
	border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.panel-body {
    padding: 15px 30px;
}
.panel-one{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}
.panel-two{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
	background-color: #fbfbfb;
}
.panel-two input, .panel-two .btn{
	height: 43px;
	margin-bottom:  0;
}
.panel-two .btn{
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}
.panel-two .help{
	padding-top: 5px;
}
.ticket-history{
	padding-left: 30px;
	padding-right: 30px;
}
caption{
	padding: 14px;
	background-color: #efefef;
}
.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 14px;
}
.table>tbody+tbody {
    border-top: 1px solid #ddd;
}
.support-panel li{
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.support-panel li:first-child{
	padding-left: 0px;
	border-right: 1px solid #a9a9a9;
}
.support-panel li:first-child img{
	margin-top: -5px;
}
.support-panel li:last-child{
	padding-right: 30px;
	position: relative;
}
.support-panel li:last-child::after{
	content: "2";
	height: 20px;
	width: 20px;
	color: white;
	background-color: #ea950f;
	border-radius: 50px;
	position: absolute;
	right: 0;
	text-align: center;
}
.step-wrap{
	margin-top: 0;
}
.step-wrap .step-info {
    margin-top: 30px;
}
.ticket-title {
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-family: source-regular;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.required{
	opacity: 0.5;
	font-style: italic;
	height: 56px;
	line-height: 56px;
}
.list-btn li{
	float: right;
}
.list-btn li:last-child{
	float: left;
}
.search-parent{
	padding-left: 0;
	border-right: 1px solid #ddd;
}
.topic-parent{
	padding-right: 0;
}
.help-text{
	text-align: right;
	padding-right: 0;
}

@media (max-width:992px){
	.panel{
		margin-bottom: 0;
	}
	.panel-body, .ticket-history{
		padding-left: 0;
		padding-right: 0;
	}
	.search-parent{
		padding-left: 15px;
	}
	.topic-parent{
		padding-right: 15px;
	}
/*
	.panel-two .panel-body{
		padding-left: 15px;
		padding-right: 15px;
	}
*/
}

@media (max-width: 900px){
	#nav-sect .nav>li>a {
		padding: 2px 12px;
		margin: 0 12px;
	}
}
@media (max-width: 767px){
	.search-parent{
		border-right: none;
	}
	.help-text{
		text-align: left;
	}
	.panel-two .btn {
		width: 100%;
	}
}

@media (max-width: 500px){
	.support-panel li{
		padding-left: 13px;
		padding-right: 13px;
	}
}

@media (max-width: 451px){
	.list-btn{
		text-align: center;
	}
	.list-btn li{
		float: none;
	}
	.list-btn li:first-child, .list-btn li:first-child button{
		width: 100%;
	}
	.list-btn li:first-child{
		margin-bottom: 15px;
	}
	.list-btn li:last-child{
		float: none;
	}
}
@media (max-width: 400px){
	.panel-two .btn {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		font-size: 11px;
	}
}
@media (max-width: 375px){
	.support-panel li{
		font-size: 12px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

/* ================== Support Page CSS ================== */
.ticket-header{
	margin-top: 30px;
}
.ticket-header h3{
	color: #4e5158;
}
.ticket-info{
	color: rgba(0,0,0);
}
.page-icon svg{
	fill: #6fcaa7;
}
.user-icon svg{
	fill: #6fcaa7;
}
.ticket-key{
	padding-top: 15px;
	background: rgba(234,150,15,0.05);
}
.ticket-key ul{
	color: #4e5158;
}
.ticket-value{
	background: rgba(234,150,15,0.05);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
}
.ticket-body{
	background: rgba(234,150,15,0.05);
}
.alert {
	margin-top: 20px !important;
}
.glyphicon-ok{
	margin-right: 15px;
}
.ticket-body ul{
	list-style: none;
	line-height: 2.2;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 18px;
	overflow: hidden;
}
.media-section{
	margin-top: 45px;
}
.media{
	margin-top: 0px !important;
}
.media img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	background: #777;
}
.ticket-panel{
	border: 1px solid #cfcfcf;
	margin-top: 0 !important;
}
.ticket-panel-body{
	padding-left: 15px !important;
	padding-right: 15px;
}
.posted-by{
	color: #4e5158;
}
.ticket-widget {
	margin-top: 45px;
}
.ticket-widget .well h3{
	margin-top: 0;
}
.ticket-update svg{
    background: #FFF;
}
.panel{
	margin-bottom: 0px !important;
}
.created-by{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	border-left: 1px dotted #cfcfcf;
	margin-left:85px;
	padding-left: 25px;
}
.ticket-update p{
	padding-left: 20px;
	display: inline-block;
	margin-bottom: 0;
}
.widget-body ul{
	margin-top: 25px;
}
.widget-body img{
	width: 100%;
}
.well{
	padding: 0;
}
.well-content{
	padding: 15px;
}
.well h6{
	font-style: italic;
}
.widget-button {
	margin-left: 0;
}
.widget-button li:first-child{
	padding-left: 15px;
	padding-right: 15px;
}
@media(max-width:768px){
	.ticket-history{
		padding-left: 0;
		padding-right: 0;
	}
}
@media(min-width: 320px) and (max-width: 767px){
	.ticket-header{
		margin-top: 10px;
	}
}
@media(max-width: 992px){
	.ticket-body ul{
		font-size: 14px;
	}
}
@media(min-width: 460px){
	.widget-button {
		margin-left: 10px;
	}
}
